@import '../../styles/abstracts/variables.scss';

.details-page {
    overflow: auto;
    background-color: $bg-color;

    .primary-info, .secondary-info {
        width: 90%;
        margin: 0 auto;
        max-width: 1010px;
    }

    .primary-header {
        font-size: 2rem;
        color: $violet-blue;
        // letter-spacing: .5px;
        font-weight: $normal;
        overflow-wrap: anywhere;
        font-weight: $semibold;
    }
    
    .secondary-header {
        font-size: 1.7rem;
        margin-bottom: 25px;
    }

    .tertiary-header {
        font-size: 1rem;
        // margin-bottom: 25px;
        font-weight: $normal;
    }

    .bg-overlay {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


        .blur {
            backdrop-filter: blur(8px); // This be the blur
            width: 100%;
            overflow:auto;
            background-color: rgba(80, 80, 80, 0.5);

            .primary-info {
                display: flex;
                flex-direction: column;
                margin: 30px auto;
            }
        }
    }

    .detail {
        &-img {
            display: block;
            width: 250px;
            align-self: center;

            &-container {
                flex: 1 1 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                // min-height: 450px;
                padding: 20px;
            }
        }

        &-description {
            flex: 1 1 100%;
            padding: 2rem 2rem 1rem;

            .extra-info-content-block {
                display: flex;
                justify-content: center;
                // .extra-info {
                //     flex: 0 1 80%;
                // }
            }
        }
    }

    .secondary-info {
        .panel-container {
            display: flex;
            &.whole-view {
                flex-direction: column;
                text-align: center;
                .whole-panel {
                    .view-whole-field {
                        margin-bottom: 25px;
                        .tertiary-header {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            &.half-view {
                flex-direction: column;
                .half-panel {
                    flex: 1 1 100%;
                    &:nth-child(1) {
                        order: 2;
                    }
                    &:nth-child(2) {
                        order: 1;
                    }
                    .view-whole-field, .view-half-field {
                        margin-bottom: 25px;
                    }
                    .view-half-field {
                        display: flex;
                        align-items: baseline;
                        > * {
                            flex: 1 1 50%;
                        }
                    }
                }
            }
        }
    }

    .mt-50 {
        margin-top: 50px;
    }
}

@media only screen and (min-width: $large) {
    .details-page {
        .bg-overlay {
            .blur {
                .primary-info {
                    flex-direction: row;
                    background-color: $bg-color;
                } 
            }
        }
        .detail {
            &-img-container {
                flex: 1 1 30%;
            }

            &-description {
                flex: 1 1 70%;
                padding: 1rem 2rem 1rem 0;

                .extra-info-content-block {
                    justify-content: normal;
                    // .extra-info {
                    //     flex: 1 1 auto;
                    // }
                }
            }
        }

        .secondary-info {
            .panel-container {
                &.half-view {
                    flex-direction: row;
                    .half-panel {
                        flex: 1 1 50%;
                        &:nth-child(1) {
                            order: 1;
                        }
                        &:nth-child(2) {
                            order: 2;
                        }
                    }
                }
            }
        }
    }
}