@import '../../../styles/abstracts/variables';

.article-items {
    display: flex;
    flex-direction: column;

    .article-img-wrapper {
        flex: 0 0 100%;

        .article-img {
            display: block;
            max-width: 100%;
        }
    }

    .article-body {
        flex: 1;
        display: flex;

        .content-wrapper {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;

            .link {
                color: unset;
                text-decoration: unset;

                .header, .desc {
                    &:hover {
                        text-decoration: underline;
                    }
                }

                .header {
                    font-size: 1.3rem;
                    font-weight: $normal;
                    // font-weight: $semibold;
                    margin-bottom: 0.3rem;
                }

                .desc {
                    font-size: 1rem;
                    margin-bottom: 0.2rem;
                    color: $kinda-gray-kinda-black;
                }
            }

            .extra-details,
            .header {
                letter-spacing: 0.04rem;
            }

            .extra-details,
            .desc {
                font-weight: $light;
                // color: $gray-black;

            }

            .extra-details {
                margin-top: 0.5rem;
                font-size: .8rem;
                display: flex;
                justify-content: space-between;
                color: $gray-black;

                .left-details {
                    .left-details-item {
                        &:not(:last-child):after {
                            content: "\2022";
                            margin: 0.2rem;
                            color: $gray-black;
                        }
                    }
                }

                .right-details .article-type {
                    background-color: $mid-gray;
                    border-radius: 15px;
                    padding: 5px;
                    color: $gray-black;
                }
            }

        }
    }

}


@media only screen and (min-width: $small) {
    .article-items {
        flex-direction: row;

        .article-img-wrapper {
            // flex: 0 0 250px;
            flex: 0 0 30%;
            order: 2;
        }

        .article-body {
            order: 1;

            .content-wrapper {
                padding-right: 1.5rem;
            }
        }
    }
}