@import '../../styles/abstracts/variables.scss';

.read-page {
    background-color: $gray-black;
    display: flex;
    flex-direction: column;

    ul.issue-page-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;

        li.issue-page {
            &:first-of-type {
                margin-top: 45px;
            }
    
            &:last-of-type {
                margin-bottom: 45px;
            }

            img.issue-page-img {
                display: block;
                max-width: 1200px;
                width: 100%;
                padding: 0 .7rem;
            }
        }
    }

    .read-err-msg {
        margin-top: 50px;
    }

    .read-nav-sticky-footer {
        display: flex;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        // background: #989997; this will be the :disabled color
        background: #F0F1F3;
        // border: 2px solid #C3C6D1;
        // color: $white-light-grey;
        color: $violet-blue;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        .control-panel {
            flex: 1 1 300px;
            justify-content: center;
            display: flex;
            
            &-btn {
                all: unset;
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                font-weight: $light;
                font-size: 1rem;
                
                &:hover {
                    cursor: pointer;
                }

                &.center-btn {
                    color: $off-black;
                    &-text {
                        border-bottom: 1px solid $off-black;
                    }
                }

                &-text {
                    margin: 0 5px;
                }

                &:not(.center-btn):hover {
                    color: $off-black;
                }
            }
        }
    }
}

@media only screen and (min-width: $small) {
    .read-page {
        ul.issue-page-list-container {
            padding: 0 1.2rem;
        }
    }

}

@media only screen and (min-width: $medium) {
    .read-page {
        ul.issue-page-list-container {
            padding: 0 2.5rem;
        }

        .read-nav-sticky-footer {
            .control-panel {
                flex: 0 0 500px;

                &-btn {
                    font-size: 1.1rem;
                }
            }
        }
    }
}