@import '../../styles/abstracts/variables.scss';

.read-page {
    background-color: $gray-black;
    display: flex;
    flex-direction: column;

    ul.issue-page-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;

        li.issue-page {
            img.issue-page-img {
                display: block;
                max-width: 1200px;
                width: 100%;
                padding: 0 .7rem;
            }
        }
    }

    .read-err-msg {
        margin-top: 50px;
    }

    .read-nav-sticky-footer {
        display: flex;
        position: sticky;
        bottom: 0;
        background: red;
        width: 100%;
        height: 40px;
    }
}

@media only screen and (min-width: $small) {
    .read-page {
        ul.issue-page-list-container {
            padding: 0 1.2rem;
        }
    }

}

@media only screen and (min-width: $medium) {
    .read-page {
        ul.issue-page-list-container {
            padding: 0 2.5rem;
        }
    }
}