.bsc-button {
    border: unset;
    font-weight: $normal;
    font-size: $small-font;
    padding: 15px 30px;

    &.primary {
        background: $violet-blue;
        color: $pure-white;
        border-radius: 5px;

        &:hover,
        .active {
            background: $dark-violet-blue;
        }
    }

    &.transparent {
        background-color: $white-light-grey;
        color: $pure-black;
        border-radius: 35px;
        border: 1px solid $pure-black;

        &:hover,
        .active {
            color: $violet-blue;
            border-color: $violet-blue;
        }
    }
}