.desc-detail {
    letter-spacing: 1px;
    line-height: 1.5;

    &.link {
        color: $violet-blue;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
        &-as-normal {
            color: $off-black;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &.normal {
        font-weight: $light;
    }
   
    &.bold {
        font-weight: $normal;
    }

}