.display-grid {
    // background-color: teal;
    display: grid;
    grid-template-columns: auto auto auto;
    
    // mimics bootstrap column sizes
    // .col-2 {
    //     width: 50%;
    // }
    // .col-3 {
    //     width: 33.33%;
    // }

    li.grid-list-item {

        img.grid-image {
            display: block;
            width: 100%;
        }
    }
}