.display-work-grid {
    // background-color: teal;
    display: grid;
    grid-template-columns: auto;
    list-style: none;
    justify-content: space-evenly;
    max-width: 80%;
    margin: 0 auto;
    grid-gap: 35px;
    // align-items: start;
    // grid-gap: 10%;


    // mimics bootstrap column sizes
    &.col-xs-2 {
        grid-template-columns: auto auto;
    }

    &.col-xs-3 {
        grid-template-columns: auto auto auto;
    }

    li.grid-list-item {
        background-color: $pure-white;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: max-content;

        .grid-image-container {
            flex: 1;
            // display: flex;
            // flex-direction: column;

            img.grid-image {
                display: block;
                width: 100%;
                object-fit: contain;
                // height: 350px;
            }
        }

        .grid-info-box {
            flex: 1;
            display: flex;
            flex-direction: column;
            min-height: 200px;
            // position: relative;
        
            &-header,
            &-body {
                line-height: 1.5;
                letter-spacing: 1px;
                font-size: 15px;
            }

            &-header, &-body, &-date-created {
                margin-bottom: 5px;
            }

            &-header {
                font-weight: $normal;
            }

            &-body {
                font-weight: $light;
            }
            &-date-created {
                font-weight: $normal;
                text-align: right;
                font-size: 14px;
                // margin-top: 15px;
                margin-top: auto;
            }

            padding: 20px;
        }

        .grid-footer {}
    }
}

@media only screen and (min-width: $medium) {

    .display-work-grid {
        max-width: 88%;

        &.col-2 {
            grid-template-columns: auto auto;
        }

        &.col-3 {
            grid-template-columns: auto auto;
        }
    }
}

@media only screen and (min-width: $large) {

    .display-work-grid {

        &.col-2 {
            grid-template-columns: auto auto;
        }

        &.col-3 {
            grid-template-columns: auto auto auto;
        }
    }
}