
form.bsc-form {
    width: 80%;

    .form-header-text {
        margin: 30px 0 20px;
    }

    input {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        padding-left: 10px;
        font-size: .9em;

        &::placeholder {
            font-weight: $light;
            font-family: $Roboto, $base-font;
        }
    }

    .form-item {
        height: 50px;
        margin-bottom: 15px;
    }

    .form-input {
        border: 1px solid $light-grey;
        display: block;
    }
    
    .error-message {
        margin-bottom: 15px;
    }

    .form-submit {
        background-color: $violet-blue;
        color: $pure-white;
        border: none;

        &:hover {
            background-color: $dark-violet-blue;
        }
    }
}

@media only screen and (min-width: $medium) {
    form.bsc-form {
        width: 50%;
    }
}