
form.bsc-form {
    width: 80%;

    .form-header-text {
        margin: 30px 0 20px;
    }

    input {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    input::placeholder {
        padding-left: 10px;
    }

    .form-item {
        height: 45px;
        margin-bottom: 15px;
    }

    .form-input {
        border: 1px solid $light-grey;
        display: block;
    }
    
    .error-message {
        margin-bottom: 15px;
    }

    .form-submit {
        background-color: $teal-green;
        color: $pure-white;
        border: none;

        &:hover {
            background-color: $dark-teal-green;
        }
    }
}

@media only screen and (min-width: $medium) {
    form.bsc-form {
        width: 50%;
    }
}