form.bsc-form {
    width: 80%;

    .form-header-text {
        margin: 30px 0 20px;
    }

    input {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        padding-left: 10px;
        font-size: .9em;

        &::placeholder {
            font-weight: $light;
            font-family: $Roboto, $base-font;
        }
    }

    .form-item {
        height: 50px;
        margin-bottom: 15px;
    }

    .form-input {
        border: 1px solid $light-grey;
        display: block;
    }

    .file-input-single-upload-container {
        position: relative;
        display: flex;
        margin-bottom: 15px;
        flex-wrap: wrap;

        .file-input-single-upload-field {
            opacity: 0;
            height: 50px;
            padding: 0;
            flex: 0 0 100%;
            display: none;
            // margin-bottom: 15px;
        }

        label.file-input-single-upload-trigger {
            background: $violet-blue;
            color: $pure-white;
            font-weight: $light;
            // margin-bottom: 15px;
            text-align: center;
            position: relative;
            left: 0;
            top: 0;
            padding: 15.5px 0px;
            display: inline-block;
            flex-basis: 100%;
        }

        .file-input-single-upload-name {
            align-self: center;
            flex: 0 0 100%;
            text-align: center;
        }
    }

    .error-message {
        margin-bottom: 15px;
    }

    .form-submit {
        background-color: $violet-blue;
        color: $pure-white;
        border: none;

        &:hover {
            background-color: $dark-violet-blue;
        }
    }
}

@media only screen and (min-width: $medium) {
    form.bsc-form {
        width: 50%;

        .file-input-single-upload-container {
            
            .file-input-single-upload-field {
                margin-bottom: 0;
                flex: 0 0 30%;
                min-width: 30%;
            }

            label.file-input-single-upload-trigger {
                flex-basis: 30%;
            }

            .file-input-single-upload-name {
                flex: 0 0 65%;
                min-width: 65%;
                padding-left: 5%;
                text-align: left;
            }
        }
    }
}
