.standard-link {
    color: $violet-blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &-as-normal {
        color: $off-black;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &.normal {
        font-weight: $light;
    }

    &.bold {
        font-weight: $normal;
    }
}

.article {
    &-link {
        color: unset;
        text-decoration: unset;
    }

    &-header {
        font-weight: $normal;
        font-size: 1.1rem;
        letter-spacing: .04rem;
         &:hover {
            text-decoration: underline;
        }
    }
}

@media only screen and (min-width: $medium) {
    .article {
        &-header {
            font-size: 1.3rem;
        }
    }
}