@import '../../styles/abstracts/variables.scss';

.home-page {
    min-height: 100vh;

    // carousel start
    .slider {
        &.embla {
            overflow: hidden;
            margin-bottom: 3rem;
        }

        .embla__viewport {
            position: relative;
        }

        .embla__container {
            display: flex;
        }

        .embla__slide {
            flex: 0 0 100%;
            min-width: 0;
        }

        .embla__buttons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.6rem;
            align-items: center;
        }

        .embla__button {
            -webkit-tap-highlight-color: rgba(49, 49, 49, 0.5);
            /* text-high-contrast */
            -webkit-appearance: none;
            appearance: none;
            background-color: transparent;
            touch-action: manipulation;
            display: inline-flex;
            text-decoration: none;
            cursor: pointer;
            border: 0;
            padding: 0;
            margin: 0;
            box-shadow: inset 0 0 0 0.2rem rgb(234, 234, 234);
            /* detail-medium-contrast */
            width: 3.6rem;
            height: 3.6rem;
            z-index: 1;
            border-radius: 50%;
            // color: rgb(54, 49, 61); /* text-body */
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: .7;

            &:hover {
                opacity: 1;
                // color: $violet-blue;
                box-shadow: inset 0 0 0 0.2rem $violet-blue;
            }
        }

        .embla__button:disabled {
            color: rgb(192, 192, 192);
            /* detail-high-contrast */
        }

        .embla__button__svg {
            width: 35%;
            height: 35%;
        }

        .embla__button--prev {
            margin-left: 3rem;
        }

        .embla__button--next {
            margin-right: 3rem;
        }

        .embla__dots {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
            margin-top: .5rem;
        }

        .embla__dot {
            -webkit-tap-highlight-color: rgba(49, 49, 49, 0.8);
            /* text-high-contrast */
            -webkit-appearance: none;
            appearance: none;
            background-color: transparent;
            touch-action: manipulation;
            display: inline-flex;
            text-decoration: none;
            cursor: pointer;
            border: 0;
            padding: 0;
            margin: 0;
            width: 2.6rem;
            height: 2.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }

        .embla__dot:after {
            box-shadow: inset 0 0 0 0.2rem rgba(49, 49, 49, 0.8);
            /* detail-medium-contrast */
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            content: '';
        }

        .embla__dot--selected:after {
            box-shadow: inset 0 0 0 0.2rem $violet-blue;
            /* text-body */
        }

        // carousel end

        .button-container {
            display: none;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            width: 100%;
        }

        .hero-image-container {
            flex: 0 0 100%;
            display: block;
            height: 70vh;
            min-height: 500px;
            position: relative;

            .hero-picture {
                width: 100%;
                display: block;
                height: inherit;
                min-height: inherit;
            }


            .hero-image {
                object-fit: cover;
                width: 100%;
                height: inherit;
                min-height: inherit;
            }

            .slider-gradient {
                // KEEP
                // background: linear-gradient(90deg, rgba(0, 0, 0, .47), transparent);
                // background: radial-gradient(circle at left, rgba(0, 0, 0, 0.47) 0%, transparent 40%);
                position: absolute;
                width: 100%;
                top: 0;
                height: inherit;
                min-height: inherit;
            }

            .slider-wrapper {
                height: 100%;
                width: 100%;
            }

        }

        .desc {
            display: flex;
            justify-content: center;
            // width: 55%;
            flex: 0 0 100%;
            // margin: 0 auto;
            min-height: 300px;
            align-items: center;
            position: absolute;
            letter-spacing: 1.1px;
            // KEEP
            // background: radial-gradient(black, transparent);
            // background: linear-gradient(90deg, rgba(0, 0, 0, .47), transparent);
            // background: linear-gradient(360deg, rgba(0, 0, 0, .47), transparent);
            background: radial-gradient(circle at top, rgba(0, 0, 0, 0.47) 0%, transparent 90%);

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin-inline: auto;
            // width: fit-content;
            width: 100%;
            height: 100%;

            .desc-content {
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                flex-basis: 90%;
                max-width: 600px;


                .primary-header {
                    text-align: center;
                    font-size: 2.5rem;
                    margin-bottom: 0.8rem;
                    color: lightblue;
                }

                .details {
                    font-size: 1.1rem;
                    font-weight: $normal;
                    line-height: 1.5;
                    text-align: center;
                    color: $pure-white;

                    .read-btn {
                        font-size: 1rem;
                        font-weight: $normal;
                        padding: 10px 25px;
                        margin-top: 10px;
                    }
                }

                .link-button {
                    display: block;
                    margin: 12px auto 0 auto;
                }
            }
        }

    }


    .reader-section {
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;

        .sub-header,
        .new-item-list {
            margin: 0 3rem;
        }

        .sub-header {
            font-size: 1.6rem;
            color: $kinda-gray-kinda-black;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .new-item {
            // flex: 1;
            display: flex;
            justify-content: center;
            flex: 0 0 100%;

            .article-header {
                text-align: center;
                max-width: 200px;
                margin-top: .5rem;
                margin-bottom: 4rem;
            }

            .article-link {
                display: block;

                &:hover {
                    .article-header {
                        text-decoration: underline;
                    }
                }
            }

            .article-img {
                width: 200px;
                height: 300px;
            }

            &-list {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }


    .read-more-section {
        text-align: center;
        min-height: 150px;
        display: flex;
        justify-content: center;
        margin-top: 2.3rem;

        .link-button .more-btn {
            font-size: 1.1rem;
            font-weight: 100;
        }
    }
}

@media only screen and (min-width: $medium) {
    .home-page {

        .slider {
            .desc {
                  .desc-content {
                    flex-basis: 55%;
               

                .primary-header {
                    font-size: 3rem;
                }

                .details {
                    font-size: 1.4rem;

                    .read-btn {
                        font-size: 1rem;
                        padding: 15px 30px;
                    }
                }

            
            }
            }
            
            .button-container {
                display: inline-flex;
            }

        }

        .reader-section {
            .new-item {
                flex: 1;
                margin: 0 15px;
            }
        }
    }

}