@import '../../styles/abstracts/variables.scss';

.subscription {

    .subscription-list {
        grid-gap: 5%;
        .subscription-list-item {
            img.subscription-profile-img {
                border-radius: 50%;
                width: 150px !important;
                height: 150px;
                margin: 0 auto;
            }
            .subscription-general-info {
                text-align: center;
            }
        }
    }
    
}

@media only screen and (min-width: $medium) {
    .subscription {
       
    }
}