// @import '../../index.scss';

.forgot-password-page {
    .forgot-password-form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;

        .forgot-password-form {
            margin: 0 auto;

            input,
            button {
                width: 100%;
            }

        }
    }
}