@import '../../index.scss';

.sign-up-page {
    .sign-up-form-container {
        display: block;

        .sign-up-form {
            margin: 0 auto;

            input,
            button {
                width: 100%;
            }

        }
    }
    .final-message {
        text-align: center;
    }
}