@import '../../index.scss';

.sign-up-page {
    .sign-up-form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .sign-up-form {

            input,
            button {
                width: 100%;
            }

        }
    }
}