// * {
//    box-sizing: border-box;
//    padding: 0;
//    margin: 0; 
// }
body {
    font-family: $Roboto, $base-font;
    background-color: $bg-color;
    margin: 0;
}
.success-text-color {
    color: $teal-green;
}
.error-text-color {
    color: $error-red;
}