// colors
$teal-green: #34F5C5;
$dark-teal-green: #21D0B2;
$blue: #1DCDFE;
$light-violet-blue: #4F80E2;
$violet-blue: #3E54D3;
$off-black: #202121;
$pure-black: #000000;
$gray-black: #3c3b37;
$tender-black: #2F455C;
$white-light-grey: #f4f7f6;
$light-grey: #DBE0DF;
$light-blue-grey: #e4ecee;
$pure-white: #ffffff;
$error-red: #cc0028;

$bg-color: $white-light-grey;

// break-points
$x-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 480px;
$x-small: 320px;

