// colors
$teal-green: #62D6B9;
$dark-teal-green: #4EAB94;
$off-black: #202121;
$pure-black: #000000;
$white-light-grey: #f4f7f6;
$light-grey: #DBE0DF;
$pure-white: #ffffff;
$error-red: #cc0028;

$bg-color: $white-light-grey;
