@import '../../styles/abstracts/variables';

.articles-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .articles-container {
        flex-basis: 80%;
        display: flex;
    }
}

@media only screen and (min-width: $medium) {
    .articles-page {
    
    }
}