@import '../../index.scss';

.upload-page {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // flex-direction: column;
    .upload-form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;

        .sign-up-form {
            margin: 0 auto;

            input,
            button {
                width: 100%;
            }

        }
    }
}