@import '../../styles/abstracts/variables.scss';

.upload-page {
    .upload-form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;

        .upload-form {
            margin: 0 auto;

            input[type=text],
            button {
                width: 100%;
            }

            .file-input-single-upload-container {
                .file-input-single-upload-field {}

            }
            .upload-checkboxes {
                columns: 1 2em;
            }

        }

    }
}
@media only screen and (min-width: $medium) {
    .upload-page .upload-form-container .upload-form .upload-checkboxes {
        columns: 3 2em;
    }
}
