@import '../../index.scss';

.upload-page {
    .upload-form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;

        .upload-form {
            margin: 0 auto;

            input:not(.single-upload-field),
            button{
                width: 100%;
            }

            .single-file-upload-container {
                .single-upload-field {}

            }

        }
    }
}