@import '../../styles/abstracts/variables.scss';

.work-credits {
    position: relative;

    .work-credits-search-container {

        .search-bar {
            border: 1px solid $light-grey;
        }

        .search-icon {
            position: relative;
            bottom: 50px;
            left: calc(100% - 30px);
            color: $mid-dark-gray;
        }
    }

    .work-credit-search-list {
        background: $pure-white;
        list-style-type: none;
        border-radius: 10px;
        padding: 10px 0px;
        border: 1px solid $light-grey;
        cursor: pointer;
        margin-bottom: 15px;
        &-item {
            padding: 10px;

            &:hover {
                background: $white-light-grey;
            }
        }
    }

    .work-credit-selected-search-list-item {
        margin-bottom: 15px;
        border: 1px solid $light-grey;
        border-radius: 10px;

        .username {
            width: 100%;
            text-align: center;
            padding: 15px 0px;
            // border: 1px solid $light-grey;
            // border-radius: 10px 10px 0 0;
            // border-bottom: none;
        }

        .user-input {
            display: none;
        }
        
        .delete-work-credits-button {
            width: 50px;
            height: 50px;
            background-color: transparent;
            display: block;
            margin: 10px auto;
            text-align: center;
            color: $error-red;
            border: none;
            border-radius: 10px;
        }
    }
}