// @import '../../index.scss';

.sign-up-page {
    .sign-up-form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;

        .sign-up-form {
            margin: 0 auto;

            input,
            button {
                width: 100%;
            }

        }
    }
    .final-message {
        text-align: center;
    }
}