@import '../../../styles/abstracts/variables';

    .accordian {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

            .accordian-trigger {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                text-align: center;
                cursor: pointer;
                border: 1px solid $mid-gray;
                // color: #325191;
                // color: #273586;
                color: #3143A8;
                background-color: $white-light-grey;
                // #fcfcfc;
                &:not(:last-child) {
                    border-bottom: 0;
                } 

                .accordian-header {
                    padding : 2rem;
                    font-size: 1.2rem;
                }

                .accordian-icon {
                    margin-right: 1.5rem;
                    color: #8CACEB;
                    // color: #7299e7;
                    // color: #80A3E9;
                    // color: #8EADEB;
                }
            }

            .dropdown {
               width: 100%;
               height:100%;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;

               p {
                  font-size: 2rem; 
               }
            }
    }
