@import '../../index.scss';

.global-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $light-grey;
    // padding: 20px 0;

    .logo {
        // width: 80%;
        font-size: 20px;
        font-weight: $semibold;
    }

    a {
        text-decoration: none;
        outline: transparent;
        color: $off-black;

        &:hover {
            color: $dark-teal-green;
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;

        }
    }


    .item {
        padding: 10px;
    }

    /* Mobile Menu */
    .nav-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        order: 4;
        width: 100%;
        // margin-right: auto;
        // border-bottom: 1px solid $light-grey;
        padding: 0px 10px;

        // li {
        //     padding: 20px 0px;
        // }

        // flex: auto;

        // a {
        //     // color: $off-black;
        //     outline: transparent;

        //     &:hover {
        //         color: $dark-teal-green;
        //     }
        // }
        .item {
            // order: 4;
            width: 100%;
            text-align: center;
            display: none;
        }
    
        &.active .item {
            display: block;
        }
    
    }
    .logo {
        order: 1; 
    }
    .mobile-toggle {
        order: 3;
    }

    // .item.button {
    //     order: 3;
    // }

    .search {
        order: 2;

        &.active a {
            color: $dark-teal-green;
        }
    }

    // &.active .item {
    //     display: block;
    // }

    /* submenu styles */
    .submenu {
        display: none;

        .subitem {
            margin: 10px 0;
        }

        &.active {
            display: block;
        }
    }
}

.searchbar-container {
    padding: 20px 0px;

    form {
        display: flex;
        justify-content: center;

        input[type="search"].nav-searchbar {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 25px;
            outline: transparent;
            height: 50px;
            width: 80%;
            font-size: 1em;
            border-radius: 25px 0px 0px 25px;
            border: 1px solid $light-grey;
            border-right: 0px;
            display: block;

            // margin: 20px auto;
            // border-radius: ;
            &::placeholder {
                font-weight: $light;
                font-family: $Roboto, $base-font;
            }

        }

        button.searchbar-submit {
            height: 50px;
            width: 100px;
            border-radius: 0px 25px 25px 0px;
            border: none;
            border-left: 0px;
            background: $dark-teal-green;
            color: $pure-white;
            // position: relative;
            // right: 51px;
            // top: 1px;
        }
    }
}

@media only screen and (min-width: $medium) {
    .global-nav {
        .logo a {
            width: auto;
        }

        .nav-menu {
            order: 2;
            justify-content: space-around;
            padding: 0px;
            width: auto;

            li a {
                color: $gray-black;
                font-weight: $light;
            }

            // .logo {
            //     order: 1;
            // }
            // .mobile-toggle {
            //     order: 3;
            //     display: none;
            // }

            // .item.button {
            //     order: 2;
            // }

            .item {
                // order: 2;
                width: auto;
                display: block;
            }


            li.has-submenu {
                position: relative;

                .submenu {
                    position: absolute;
                    background: $pure-white;
                    width: 10em;
                    right: 5px;
                    top: 59px;
                    border: 1px solid $light-grey;
                }
            }
        }
        .logo {
            order: 1;
        }
        .mobile-toggle {
            order: 3;
            display: none;
        }
        .search {
            order: 4;
        }
    }

    .searchbar-container {
        form {
            input[type="search"].nav-searchbar {
                width: 50%;
            }
        }
    }
}