@import '../../index.scss';

.global-nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            text-decoration: none;
        }
    }

    .item {
        padding: 10px;
    }

    /* Mobile Menu */
    .nav-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $light-grey;
        padding: 0px 10px;
        
        li {
            &:not(.logo) {
                padding: 20px 0px;
            }
            &.logo > a{
                font-size: 20px;
                font-weight: $semibold;
            }
            a {
                color: $off-black;
                
                &:hover {
                    color: $dark-teal-green;
                }
            }
        }

        .mobile-toggle {
            order: 1;
        }

        .item.button {
            order: 2;
        }

        .item {
            order: 3;
            width: 100%;
            text-align: center;
            display: none;
        }
        .item.search {
            order: 4;
        }

        &.active .item {
            display: block;
        }

        /* submenu styles */
        .submenu {
            display: none;

            .subitem {
                margin: 10px 0;
            }

            &.active {
                display: block;
            }
        }
    }
}

@media only screen and (min-width: $medium) {
    .global-nav {
        .nav-menu {
            justify-content: space-around;
            padding: 0px;

            li a {
                    color: $gray-black;
                    font-weight: $light;
                }
            


            .mobile-toggle {
                order: 3;
                display: none;
            }

            .item.button {
                order: 2;
            }

            .item {
                order: 1;
                width: auto;
                display: block;
            }

            li.has-submenu {
                position: relative;

                .submenu {
                    position: absolute;
                    background: $pure-white;
                    width: 10em;
                    right: 5px;
                    top: 59px;
                    border: 1px solid $light-grey;
                }
            }
        }
    }
}